@import "tailwindcss";

:root {
  --theme-bg: #EEEEEE; /* background */
  --theme-text: #2A4759; /* text */
  --theme-accent: #F79B72; /* accent */
  --theme-border: #DDDDDD; /* border */
}

body {
  background: var(--theme-bg);
  color: var(--theme-text);
}

::selection {
  background: #8dbffd;
  color: #203745;
}

.bg-retrobg { background: var(--theme-bg) !important; }
.text-retrotext { color: var(--theme-text) !important; }
.border-retroborder { border-color: var(--theme-border) !important; }
.text-retroaccent { color: var(--theme-accent) !important; }
